name: C/C++ CI

on:
  push:
    branches: [ "stable" ]
  pull_request:
    branches: [ "stable" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: CI Build
      run: chmod +x ci-build.sh && ./ci-build.sh

    - uses: actions/upload-artifact@v3
      with:
        name: uefi.img
        path: ./uefi.img
